/* ===== Google Font Import - Poppins ===== */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    transition: all 0.4s ease;;
}


/* ===== Colours ===== */
:root{
    --body-color: #E4E9F7;
    --nav-color: #4070F4;
    --side-nav: #010718;
    --text-color: #FFF;
    --search-bar: #F2F2F2;
    --search-text: #010718;
}

body{
    height: 100vh;
    background-color: var(--body-color);
}

body.dark{
    --body-color: #18191A;
    --nav-color: #242526;
    --side-nav: #242526;
    --text-color: #CCC;
    --search-bar: #242526;
}

#header {
  width: 100%;
  height: 100vh;
  background-image: url(imges/WhatsApp\ Image\ 2024-01-26\ at\ 09.27.19_ee241d8b.jpg); /* Corrected path */
  background-size: cover;
  background-position: center;
}
.container {
  padding: 30px 6% 5px;
}
/*----nav-------*/
nav{
    position: fixed;
    top: 0;
    left: 0;
    height: 70px;
    width: 100%;
    background-color: var(--nav-color);
    z-index: 100;
}

body.dark nav{
    border: 1px solid #393838;

}

nav .nav-bar{
    position: relative;
    height: 100%;
    max-width: 1000px;
    width: 100%;
    background-color: var(--nav-color);
    margin: 0 auto;
    padding: 0 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav .nav-bar .sidebarOpen{
    color: var(--text-color);
    font-size: 25px;
    padding: 5px;
    cursor: pointer;
    display: none;
}

nav .nav-bar .logo a{
    font-size: 25px;
    font-weight: 500;
    color: var(--text-color);
    text-decoration: none;
}

.menu .logo-toggle{
    display: none;
}

.nav-bar .nav-links{
    display: flex;
    align-items: center;
}

.nav-bar .nav-links li{
    margin: 0 5px;
    list-style: none;
}

.nav-links li a{
    position: relative;
    font-size: 17px;
    font-weight: 400;
    color: var(--text-color);
    text-decoration: none;
    padding: 10px;
}

.nav-links li a::before{
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    height: 6px;
    width: 6px;
    border-radius: 50%;
    background-color: var(--text-color);
    opacity: 0;
    transition: all 0.3s ease;
}

.nav-links li:hover a::before{
    opacity: 1;
}

.nav-bar .darkLight-searchBox{
    display: flex;
    align-items: center;
}

.darkLight-searchBox .dark-light,
.darkLight-searchBox .searchToggle{
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 5px;
}

.dark-light i,
.searchToggle i{
    position: absolute;
    color: var(--text-color);
    font-size: 22px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.dark-light i.sun{
    opacity: 0;
    pointer-events: none;
}

.dark-light.active i.sun{
    opacity: 1;
    pointer-events: auto;
}

.dark-light.active i.moon{
    opacity: 0;
    pointer-events: none;
}

.searchToggle i.cancel{
    opacity: 0;
    pointer-events: none;
}

.searchToggle.active i.cancel{
    opacity: 1;
    pointer-events: auto;
}

.searchToggle.active i.search{
    opacity: 0;
    pointer-events: none;
}

.searchBox{
    position: relative;
}

.searchBox .search-field{
    position: absolute;
    bottom: -85px;
    right: 5px;
    height: 50px;
    width: 300px;
    display: flex;
    align-items: center;
    background-color: var(--nav-color);
    padding: 3px;
    border-radius: 6px;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;
}

.searchToggle.active ~ .search-field{
    bottom: -74px;
    opacity: 1;
    pointer-events: auto;
}

.search-field::before{
    content: '';
    position: absolute;
    right: 14px;
    top: -4px;
    height: 12px;
    width: 12px;
    background-color: var(--nav-color);
    transform: rotate(-45deg);
    z-index: -1;
}

.search-field input{
    height: 100%;
    width: 100%;
    padding: 0 45px 0 15px;
    outline: none;
    border: none;
    border-radius: 4px;
    font-size: 14px;
    font-weight: 400;
    color: var(--search-text);
    background-color: var(--search-bar);
}

body.dark .search-field input{
    color: var(--text-color);
}

.search-field i{
    position: absolute;
    color: var(--nav-color);
    right: 15px;
    font-size: 22px;
    cursor: pointer;
}

body.dark .search-field i{
    color: var(--text-color);
}

@media (max-width: 790px) {
    nav .nav-bar .sidebarOpen{
        display: block;
    }

    .menu{
        position: fixed;
        height: 100%;
        width: 320px;
        left: -100%;
        top: 0;
        padding: 20px;
        background-color: var(--side-nav);
        z-index: 100;
        transition: all 0.4s ease;
    }

    nav.active .menu{
        left: -0%;
    }

    nav.active .nav-bar .navLogo a{
        opacity: 0;
        transition: all 0.3s ease;
    }

    .menu .logo-toggle{
        display: block;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .logo-toggle .siderbarClose{
        color: var(--text-color);
        font-size: 24px;
        cursor: pointer;
    }

    .nav-bar .nav-links{
        flex-direction: column;
        padding-top: 30px;
    }

    .nav-links li a{
        display: block;
        margin-top: 20px;
    }
}
.img{
    background: url('imges/WhatsApp\ Image\ 2024-01-26\ at\ 09.27.19_ee241d8b.jpg')no-repeat;
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    position: relative;
  }
  .img::before{
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.4);
  }
  .center{
    position: absolute;
    top: 52%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    padding: 0 20px;
    text-align: center;
  }
  .center .title{
    color: #fff;
    font-size: 55px;
    font-weight: 600;
  }
  .center .sub_title{
    color: #fff;
    font-size: 52px;
    font-weight: 600;
  }
  .center .btns{
    margin-top: 20px;
  }
  .center .btns button{
    height: 55px;
    width: 170px;
    border-radius: 5px;
    border: none;
    margin: 0 10px;
    border: 2px solid white;
    font-size: 20px;
    font-weight: 500;
    padding: 0 10px;
    cursor: pointer;
    outline: none;
    transition: all 0.3s ease;
  }
  .center .btns button:first-child{
    color: #fff;
    background: none;
  }
  .btns button:first-child:hover{
    background: white;
    color: black;
  }
  .center .btns button:last-child{
    background: white;
    color: black;
  }
/* about--*/

#about {
  padding: 80px 0;
  color: #333; /* Changed text color for better readability */
}

.row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.about-col-1 {
  flex-basis: 35%;
}

.about-col-1 img {
  width: 100%;
  border-radius: 15px;
}

.about-col-2 {
  flex-basis: 60%;
}

.sub-title {
  font-size: 48px; /* Reduced font size for better balance */
  font-weight: 700; /* Changed font weight for emphasis */
  color: #333; /* Adjusted text color for consistency */
}

.tab-titles {
  display: flex;
  margin: 20px 0 40px;
}

.tab-links {
  margin-right: 50px;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  position: relative;
  color: #555; /* Changed text color for better contrast */
  text-decoration: none; /* Removed default underline */
}

.tab-links::after {
  content: '';
  width: 0;
  height: 3px;
  background: #3cd9fc;
  position: absolute;
  left: 0;
  bottom: -8px;
  transition: width 0.5s; /* Specified the property for smoother transition */
}

.tab-links.active-link::after {
  width: 50%;
}

.tab-contents ul {
  padding-left: 20px; /* Added padding for better alignment */
}

.tab-contents ul li {
  list-style: none;
  margin: 10px 0;
}

.tab-contents ul span {
  color: #51d9f7;
  font-size: 14px;
}

.tab-contents {
  display: none;
}

.tab-contents.active-tab {
  display: block;
}
/*-----contact ---*/
.committee-container {
    text-align: center;
    padding: 20px;
}

.committee-container h1 {
    font-size: 2em;
    margin-bottom: 20px;
    color: #333;
}

.committee {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.member {
    background-color: #fff;
    margin: 10px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    max-width: 300px;
    cursor: pointer;
    transition: transform 0.2s;
}

.member:hover {
    transform: scale(1.05);
}

.member img {
    width: 100%;
    border-radius: 5%;
}

.details {
    margin-top: 15px;
}

.details .title {
    font-weight: bold;
    color: #777;
}

.details .name {
    font-size: 1.2em;
    margin: 5px 0;
    color: #333;
}

.details .position {
    color: #555;
}

.committee-listings {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 30px;
}

.committee-listing {
    background-color: #fff;
    margin: 10px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    max-width: 300px;
    text-align: left;
}

.committee-listing h2 {
    font-size: 1.5em;
    color: #333;
    margin-bottom: 10px;
}

.committee-listing p {
    margin: 5px 0;
    font-size: 1em;
    color: #333;
}

.committee-listing p strong {
    color: #0056b3;
}

@media (max-width: 768px) {
    .committee {
        flex-direction: column;
        align-items: center;
    }
    
    .committee-listings {
        flex-direction: column;
        align-items: center;
    }
}
/*-----Fee---*/
.bank-details-container {
    text-align: center;
    padding: 20px;
}

.bank-details-container h1 {
    font-size: 2em;
    margin-bottom: 20px;
    color: #333;
    position: relative;
    animation: slideDown 0.5s ease-out;
}

.payment-details {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 20px;
    gap: 20px;
    animation: fadeIn 1s ease-out;
}

.account-info, .qr-code {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    max-width: 400px;
    width: 100%;
    text-align: left;
    transition: transform 0.3s;
}

.account-info:hover, .qr-code:hover {
    transform: scale(1.05);
}

.account-info h2, .qr-code h2 {
    font-size: 1.5em;
    color: #333;
    margin-bottom: 10px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

table td {
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

table td:first-child {
    font-weight: bold;
    color: #555;
}

.qr-code img {
    width: 30%;
    height: auto;
    border-radius: 8px;
    transition: transform 0.3s;
}

.qr-code img:hover {
    transform: rotate(360deg);
}

@keyframes slideDown {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@media (max-width: 768px) {
    .payment-details {
        flex-direction: column;
        align-items: center;
    }
}
/*------contact*/
.contact-us {
    text-align: center;
    padding: 50px 20px;
    background-color: white;
}

.contact-us h2 {
    color: #1a1a44;
    font-size: 2em;
    margin-bottom: 10px;
}

.contact-us p {
    color: #b3b3b3;
    font-size: 1.2em;
    margin-top: 0;
}

.underline {
    width: 50px;
    height: 2px;
    background-color: #ff3344;
    margin: 10px auto 40px;
}

.contact-options {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.option {
    flex: 1;
    min-width: 200px;
    max-width: 300px;
    padding: 20px;
    margin: 10px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
}

.option:hover {
    transform: translateY(-10px);
}

.icon img {
    width: 50px;
    height: 50px;
}

.option h3 {
    color: #1a1a44;
    font-size: 1.5em;
    margin: 15px 0;
}

.option p {
    color: #666;
    font-size: 1em;
    margin: 0;
}

.option a {
    color: #1a1a44;
    text-decoration: none;
    font-weight: bold;
}

.option a:hover {
    text-decoration: underline;
}

/* Responsive styles */
@media (max-width: 768px) {
    .contact-options {
        flex-direction: column;
        align-items: center;
    }

    .option {
        max-width: 90%;
        margin: 20px 0;
    }
} 

/*-----useful limks ---*/
.main-content {
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    justify-content: space-between;
}

.intro {
    flex: 2;
    min-width: 300px;
    margin: 20px;
}

.intro .logo {
    width: 100px;
}

.links, .contact {
    flex: 1;
    min-width: 200px;
    margin: 20px;
}

h3 {
    color: #1a1a44;
    border-bottom: 2px solid #ff3344;
    display: inline-block;
    margin-bottom: 10px;
}

ul {
    list-style: none;
    padding: 0;
}

ul li {
    margin: 10px 0;
}

ul li a {
    text-decoration: none;
    color: #ff3344;
    font-weight: bold;
}

ul li a:hover {
    text-decoration: underline;
}

.contact p {
    margin: 10px 0;
}

.contact a {
    color: #1a1a44;
    text-decoration: none;
}

.contact a:hover {
    text-decoration: underline;
}

.social-icons a {
    margin-right: 10px;
}

.social-icons img {
    width: 30px;
    height: 30px;
}

/* Responsive styles */
@media (max-width: 768px) {
    .main-content {
        flex-direction: column;
        align-items: center;
    }

    .intro, .links, .contact {
        margin: 10px 0;
        width: 90%;
    }
}
/*-----Footer---*/
.footer {
    background-color: #141414;
    color: #ffffff;
    text-align: center;
    padding: 20px 0;
    position: relative;
}

.footer span {
    color: #ff0000;
}

.back-to-top {
    background-color: #ff0000;
    border: none;
    border-radius: 50%;
    color: white;
    cursor: pointer;
    font-size: 24px;
    height: 40px;
    width: 40px;
    position: absolute;
    right: 20px;
    bottom: 20px;
}
/*-------Committee*/

@media only screen and (max-width:600px){}
   
